<<<<<<< HEAD
.card_defender {
    color: white;
    box-shadow: 0 4px 8px 0 white;
    max-width: 400px;
    text-align: center;
    margin-left: 200px;
    border-radius: 5px;
}

.card_img{
    border-radius: 5px 5px 0px 0px;
}

.card_attacker {
    color: white;
    box-shadow: 0 4px 8px 0 white;
    max-width: 400px;
    text-align: center;
    margin-left: 200px;
    float: right;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 200%;
}

p{
    text-align: center;
    color: azure;
}
@font-face {
    font-family: navFont;
    src: url(../Fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: regular;
    src: url(../Fonts/Roboto_SemiCondensed-Regular.ttf);
}

* {
    font-family: regular;
}

body{
    background-color: #333;
}

#game-container{
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
}

#game{
    color: red;
    line-height: 30px;
    padding: 40px 20px;
    width: 80%;
    background-color: #141414;
    margin: 30px;
    border: 2px #750808 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game h1{
    font-size: 60px;
    border-bottom: red solid 4px;
    padding: 10px;
    font-family: navFont;
    width: 450px;
}

#description{
    font-size: 18px;
    padding-top: 15px;
}

.carousel-image {
    height: 60vh;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner{
    height: 60vh;
}

@media only screen and (max-width: 994px) {
    #game{
        padding: 22px 20px;
    }

    #game h1{
        font-size: 35px;
        border-bottom: red solid 3px;
        width: 250px;
    }
    
    #description{
        font-size: 15px;
    }

    .carousel-inner{
        height: 40vh;
    }
    >>>>>>> 589f6dd030e3b91f254bd77aff2e7e7f9d00a9a7
}