@font-face {
    font-family: navFont;
    src: url(../Fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: regular;
    src: url(../Fonts/Roboto_SemiCondensed-Regular.ttf);
}

* {
    font-family: regular;
}

body {
    background-color: #333;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    width: 100%;
    flex-shrink: 0;
    transition: opacity 0.5s ease;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

#game-container {
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
}

#game {
    color: red;
    line-height: 30px;
    padding: 40px 20px;
    width: 80%;
    background-color: #141414;
    margin: 30px;
    border: 2px #750808 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game h1 {
    font-size: 60px;
    border-bottom: red solid 4px;
    padding: 10px;
    font-family: navFont;
    width: 450px;
}

#description {
    font-size: 18px;
    padding-top: 15px;
}

.card_img {
    border-radius: 5px 5px 0px 0px;
}

h2 {
    font-weight: bold;
    font-size: larger;
}

#operators {
    margin-top: 50px;
    text-align: center;
}

.operator-cards {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.card_defender,
.card_attacker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    text-align: center;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 46vw;
    box-sizing: border-box;
}

.card_defender img,
.card_attacker img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
}

#operators h2 {
    font-size: 50px;
    font-family: navFont;
    color: red;
    margin: 30px;
    text-align: center;
}

@media only screen and (max-width: 994px) {
    #game {
        padding: 22px 20px;
    }

    #game h1 {
        font-size: 35px;
        border-bottom: red solid 3px;
        width: 250px;
    }

    #description {
        font-size: 15px;
    }

    .operator-cards {
        flex-direction: column;
        align-items: center;
    }

    .card_defender,
    .card_attacker {
        width: 90%;
        margin-bottom: 20px;
    }
}