#menu {
    width: 854px;
    height: 480px;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.article .div button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
#image-container {
    text-align: center;
}
.article .div img {
    width: 854px;
    height: 480px;
    object-fit: cover;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 76vh
}