@font-face {
    font-family: navFont;
    src: url(../Fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: regular;
    src: url(../Fonts/Roboto_SemiCondensed-Regular.ttf);
}

#menu {
    width: 854px;
    height: 480px;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid black;
    gap: 20px;
}

.article .div button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

#image-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#image-container img {
    border-radius: 5px;
    border: 2px solid black;

}
#image-container .map {
    border-radius: 5px;
    border: 2px solid black;

}
#map:hover {
    cursor: pointer;
}

#image-container h2 {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    width: 250px;
    font-family: navFont;
    padding: 20px;
    font-size: 30px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 76vh;

}

#result {
    border-radius: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}

.button {
    background-color: #b6b6b6;
    /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: navFont;
    border-radius: 5px;
    border: 2px solid black;
    width: 240px;
    height: 80px;
}

#button {
    background-color: #b6b6b6;
    /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: navFont;
    border-radius: 5px;
    border: 2px solid black;
    width: 240px;
    height: 80px;
}

#button:hover{
    background-color: #ffffff;
    cursor: pointer;
}

.button:hover{
    background-color: #ffffff;
    cursor: pointer;
}

h1{
    font-family: navFont;
    font-size: 50px;
}

#button-grid{
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 10px;
}
#points{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: black;
    color: white;
    width: 50px;
    font-family: regular;
    ;
    padding: 8px 30px;
    font-size: 15px;
    font-weight: 600;
    
    
}
#points p{
    width: auto
    
}