body{
    background-color: grey;
    margin: 0;
}

.container{
    margin-top: 150px;
    display: flex;
    height: 85vh;
}

.column{
    display: flex;
    padding: 20px;
    text-align: center;
}

.left{
    width: 33.3%;
}

.middle{
    width: 33.3%;

}

.right{
    width: 33.3%;
    height: fit-content;
}

.card-grid{
    display: grid;
    flex-direction: column;
    justify-content: center;
}


.operator-img{
    height: 103.40%;
}
@media screen and (min-width: 994px) {

.card-grid{
    grid-template-columns: auto auto;
    
}	
}

@media screen and (min-width: 1280px) {
    .card-grid{
	grid-template-columns: auto auto auto}
}