body{
    background-color: grey;
    margin: 0;
}

.container{
    margin-top: 150px;
    display: flex;
    height: 85vh;
}

.column{
    display: flex;
    padding: 20px;
    text-align: center;
}

.left{
    width: 33.3%;
}

.middle{
    width: 33.3%;

}

.right{
    width: 33.3%;
}

.operator-img{
    height: 103.40%;
}


