/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
	font-family: navFont;
	src: url(../Fonts/BebasNeue-Regular.ttf);
}

@font-face {
	font-family: regular;
	src: url(../Fonts/Roboto_SemiCondensed-Regular.ttf);
}

body{
	font-family: regular;
}

/* MOBILE */

/* navbar */
.desktop-nav {
	display: none;
}

.mobile-nav {
	overflow: hidden;
	background-color: #000000;
	min-height: 40px;
	display: block;
	font-family: navFont;
	font-weight: 400;
	font-size: 25px;
}

.mobile-nav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	color: white;
	padding: 20px 30px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	font-size: 30px;
	border: none
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: aqua;
	min-width: 160px;
}

.dropdown-content a {
	float: none;
	color: rgb(0, 0, 0);
	padding: 20px 30px;
	text-decoration: none;
	display: block;
	text-align: left;

}

.dropbtn:hover {
	background-image: linear-gradient(0deg, aqua, black, black);
}

.dropdown-content a:hover {
	background-color: rgb(0, 204, 255);
}


.show {
	display: block;
}

/* article */

article {
	padding: 30px 20px;
	background-color: #333;
}

/* section */

section{
	background-color: #000000;
	color: white;
}


/* footer */
footer{
	width: 100%;
	background-color: #000000;
	color: white;
	font-family: navFont;
	font-size: 20px;
	
}

footer .flex-container .media ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;

}
footer .flex-container .media ul li img {
	height: 45px;
}

.flex-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.flex-container>div{
	text-align: center;
	min-width: 30%;
}




/* index */

.homepage-intro{
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.homepage-intro h1{
	font-size: 50px;
	font-family: navFont;
	padding: 0px 10px;
	border-bottom: #333 solid 2px;
	margin-top: 30px;
	margin-bottom: 30px;
	
}
.homepage-intro hr{
	margin: 0;
	margin-top: 20px;
	border: #868686 1px solid;
	width: 80%;

}

.homepage-navigation{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homepage-navigation .card-grid{
	display: grid;
    flex-direction: column;
    align-items: center;
    gap: 20px;
	padding: 30px;
	
}

.homepage-navigation .card-grid .card{
	background-color: #333;
	padding: 10px 20px;
}

.homepage-navigation .card-grid .card img{
	height: 200px;
	width: 280px;
	object-fit: cover;
	border-radius: 5px;
}

.homepage-navigation .image-container .overlay-text {
	position: absolute;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	background-color: #000000b0; 
	padding: 10px 20px; 
	font-size: 35px; 
	text-align: center;
	font-family: navFont;
	border-radius: 10px;
}
.homepage-navigation .image-container {
	position: relative;
	display: inline-block;
  }
  
.homepage-navigation .image-container img {
	display: block;
	width: 100%;
	height: auto;
  }





/* TABLET */
@media screen and (min-width: 994px) {


	/* navbar */
	.desktop-nav {
		display: block;
		min-height: 30px;
		font-family: navFont;
		font-weight: 400;
		font-size: 25px;
	}

	.mobile-nav {
		display: none;

	}

	.desktop-nav ul {
		background-color: black;
		position: fixed;
		width: 100%;
		display:flex;
    	flex-direction:row;
		justify-content:left;
		z-index: 1;

	}

	.desktop-nav li {
		float: left;
	}

	.desktop-nav li a {
		display: block;
		color: white;
		text-align: center;
		min-width: 120px;
		padding:25px 0px;
		
		text-decoration: none;
	}

	.desktop-nav li a:hover{
		background-image: linear-gradient(0deg, aqua, black, black);
	}

	/* article */

	article {
		padding: 70px 20px;
}

	/* index */
	
	.homepage-navigation .card-grid{
		grid-template-columns: auto auto;
}	
	.homepage-intro h1{
		font-size: 90px;
	}

	.homepage-intro p{
		font-size: 20px;
	}
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
	.homepage-navigation .card-grid{
		grid-template-columns: auto auto auto;}
}